@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 38% 81%;
    --foreground: 0 0% 20%;

    --card: 39 38% 81%;
    --card-foreground: 0 0% 20%;

    --popover: 39 38% 81%;
    --popover-foreground: 0 0% 20%;

    --primary: 142 19% 74%;
    --primary-foreground: 0 0% 20%;

    --secondary: 187 47% 76%;
    --secondary-foreground: 0 0% 20%;

    --muted: 142 19% 74%;
    --muted-foreground: 0 0% 45%;

    --accent: 351 77% 82%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 142 19% 74%;
    --input: 142 19% 74%;
    --ring: 142 19% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 39 38% 81%;

    --card: 0 0% 20%;
    --card-foreground: 39 38% 81%;

    --popover: 0 0% 20%;
    --popover-foreground: 39 38% 81%;

    --primary: 142 19% 74%;
    --primary-foreground: 0 0% 20%;

    --secondary: 187 47% 76%;
    --secondary-foreground: 0 0% 20%;

    --muted: 142 19% 74%;
    --muted-foreground: 39 38% 81%;

    --accent: 351 77% 82%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 39 38% 81%;

    --border: 142 19% 74%;
    --input: 142 19% 74%;
    --ring: 39 38% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-beige text-charcoal;
  }
}