
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 100% 50%;
    --foreground: 0 0% 100%;

    --card: 35 100% 50%;
    --card-foreground: 0 0% 100%;

    --popover: 35 100% 50%;
    --popover-foreground: 0 0% 100%;

    --primary: 291 100% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 35 100% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 291 47% 60%;
    --muted-foreground: 0 0% 100%;

    --accent: 35 100% 62%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 291 47% 60%;
    --input: 291 47% 60%;
    --ring: 291 47% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 291 100% 42%;
    --foreground: 35 100% 50%;

    --card: 291 100% 42%;
    --card-foreground: 35 100% 50%;

    --popover: 291 100% 42%;
    --popover-foreground: 35 100% 50%;

    --primary: 35 100% 50%;
    --primary-foreground: 291 100% 42%;

    --secondary: 291 47% 60%;
    --secondary-foreground: 35 100% 50%;

    --muted: 35 100% 62%;
    --muted-foreground: 291 100% 42%;

    --accent: 291 47% 60%;
    --accent-foreground: 35 100% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 35 100% 50%;

    --border: 35 100% 50%;
    --input: 35 100% 50%;
    --ring: 35 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #9C27B0, #FF8A00);
    background-attachment: fixed;
  }
}
